<div class="top-hero-wrapper text-center">
  <div class="container top-hero-container">
    <div class="title">
    <p class="text-white">My Time Table</p>
    </div>
    <br>
    <br>
    <div class="text-white">
    <div class="fes-list"><p>フェス一覧</p></div>
    </div>
    
    <% @festivals.each do |festival| %>
        <%= link_to festival.name , festival_path(festival.id) , class: 'btn btn-block btn-white' %>
    <% end %>
    </div>

<h1 class="text-brack">
  <%= link_to "artist登録" , new_artist_path, class: 'btn btn-block btn-white' %>
</h1>