<div class="festival-index-wrapper">
    <div class="title">
        <p class="text-brack text-festival"><%= @festival.name %></p>
    </div>
    <br>

    <div class="mytimetable-create-title">
        <p>タイムテーブル作成</p>
    </div>
    
    <h1>Days</h1>
        <div align="center">
            <% @festival.festivaldays.each do |festivalday| %>
                <%= link_to festivalday.date, festival_festivalday_mytimetable_path(@festival.id, festivalday.id )  , class: 'btn btn-block fesshow-btn-white' %>
            <% end %>
        </div>
</div>